* {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: 'Noto Sans KR', sans-serif;
}

nav {
    display: inline-block;
}

header img {
    display: inline-block;
    width: 8rem;
    height: 3rem;
    object-fit: cover;
    margin-left: 8rem;
}

li {
    list-style-type: none;
}

header ul {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

header ul a {
    text-decoration: none;
    width: text-size;
    outline: none;
    color: black;
    list-style-type: none;
    margin: 2rem;
}

header ul a:hover {
    color: orange;
}

form {
    display: flex;
    justify-content: center;
    margin-left: 8rem;
    margin-right: 12rem;
}

input[type="search"] {
    background-color: rgb(226 226 226 / 53%);
    border: none;
    height: 2rem;
    width: 17rem;
    border-radius: 0.3em;
}

button {
    background-color: white;
    border: solid rgb(194, 194, 194) 1px;
    border-radius: 0.3em;
    width: 6rem;
    height: 2rem;
    margin-left: 0.4rem;
}

header div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}

hr {
    color: rgba(128, 128, 128, 0.123);
}

.align {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

footer {
    border-top: solid 0.2px rgba(128, 128, 128, 0.308);
    padding: 0px 16px;
}

.download {
    flex-direction: column;
    float: right;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    margin-left: 8rem;
}

footer ul {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

footer ul a {
    text-decoration: none;
    width: text-size;
    outline: none;
    color: black;
    list-style-type: none;
    margin: 2rem;
}

footer li {
    margin-bottom: 2rem;
    font-size: 0.8rem;
}

footer img {
    width: 10rem;
}

.list-up {
    display: flex;
    flex-direction: row;
}

.information {
    display: flex;
    border-top: solid 0.2px rgba(128, 128, 128, 0.308);
    font-size: 0.7rem;
    color: rgb(71, 71, 71);
    justify-content: center;
    padding-top: 3rem;
}

.information div {
    width: fit-content;
    margin-top: 0.8rem;
    justify-content: center;
}

.information ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 0px;
    margin-left: 5rem;
}

.information img {
    width: 1.4rem;
    margin: 0.7rem;
}

.text {
    width: fit-content;
    display: inline-block;
}

/* section 2 */
/* 메인 페이지 */
.home-main-section-1 {
    background-color: rgb(251, 247, 242);
    /* height: 760px; */
}

.home-main-section-2 {
    height: 760px;
    padding: 60px 0px 60px 0px;
}

.home-main-section-3 {
    background-color: rgb(230, 243, 230);
    height: 760px;
    padding: 60px 0px 60px 0px;
}

.home-main-section-4 {
    height: 760px;
    padding: 60px 0px 60px 0px;
}

.main-text {
    color: rgb(33, 37, 41);
    width: 1024px;
    height: 124px;
    padding: 270px 0px 0px 0px;
    font-size: 48px;
    margin: 0px 0px 32px 0px;
}

.sub-text {
    color: rgb(33, 37, 41);
    height: 48px;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}

.home-main-1 {
    width: 1024px;
    height: 760px;
    margin: 0px 250px 0px 250px;
}

.home-main-2 {
    width: 1024px;
    height: 760px;
    margin: 0px 250px 0px 250px;
}

.home-main-3 {
    width: 1024px;
    height: 760px;
    margin: 0px 250px 0px 250px;
}

.home-main-4 {
    width: 1024px;
    height: 760px;
    margin: 0px 250px 0px 250px;
}

.home-main-left {
    padding: 0;
    margin: 0;
    width: 1024px;
    height: 150px;
}

.background-color1 {
    background-color: white
}

.botton-section {
    width: 400px;
    height: 55px;
    margin: 32px 0px 0px 0px;
}

.botton-text1 {
    text-align: center;
    background-color: rgb(241, 243, 245);
    color: rgb(33, 37, 41);
    padding: 26px 14.5px 26px 14.5px;
    font-weight: 700;
    font-size: 18px;
    border-radius: 10px 10px 10px 10px;
}

.botton-text2 {
    text-align: center;
    background-color: rgb(241, 243, 245);
    color: rgb(33, 37, 41);
    padding: 26px 14.5px 26px 14.5px;
    margin: 0px 0px 0px 16px;
    font-weight: 700;
    font-size: 18px;
    border-radius: 10px 10px 10px 10px;
}

.icon {
    width: 56px;
    height: 56px;
    background-size: 56px 56px;
}

.home-list {
    margin: 10px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.list-text1 {
    margin: 1.6rem 0rem 0.8rem 0rem;
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: bold;
}

.imgsize1 {
    position: absolute;
    right: 0px;
    top: 19%;
    width: 800px;
}

.imgsize2 {
    position: absolute;
    right: 140px;
    width: 600px;
}

.imgsize3 {
    position: absolute;
    right: 140px;
    top: 190%;
    width: 600px;
}

.imgsize4 {
    position: absolute;
    right: 140px;
    top: 280%;
    width: 600px;
}



/* section 3 */
/* 카테고리 추천 */
.category-section {
    background-color: #F8F9FA;
    padding: 0 10rem;
}

.category-box {
    padding: 3rem 0 1rem 0;
}

.category-box>h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.category-lists {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;
    place-items: center;
    text-align: center;
    list-style: none;
}

.category-lists>li {
    display: flex;
    flex-direction: column-reverse;
    height: 70%;
    padding: 20px;
    transition: 0.1s;
}

.category-img {
    width: 20%;
    margin: 32px;
    border-radius: 30px;
}

.category-lists>li>a {
    text-decoration: none;
    color: black;
}

.category-lists>li:hover {
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.2);
    font-weight: bold;
}


/* section 4 */
/* 후기 섹션 */
.review-section {
    margin: 20rem;
}

/* 후기 */
.article {
    border: 0.0625rem solid #b2bad3;
    padding: 1.25rem 1rem;
    width: 70%;
    margin: 2%;
}

/* 프로필 사진 */
.profile_img {
    width: 2%;
}

/* 사용자id */
.id {
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    font-size: 16px;
    width: auto;
}

/* 후기 */
.review {
    margin: 0;
    width: auto;
}

/* 기프티콘 내용 */
.content {
    border: 0.0625rem solid #eaebee;
}

/* 기프티콘 이미지 */
.gifticon {
    border: 1px solid black;
    width: 80%;
}

/* 사는 지역 */
.city {
    font-size: 8px;
    color: gray;
}

/* title */
.title {
    margin: 0;
    border: 0.0625rem solid #eaebee;
}

/* 후기 사진+설명 */
.review-box {
    display: flex;
}

.review-box {
    display: flex;
    align-items: center;
}